:root{
    --var-text-logo: 3em;
    --var-text-casual: 1.5em;

    --var-color-text-normal: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0b0e18; /* Cor bem escura do fundo */
  padding: 36px 40px;
  color: white;
  font-family: 'Inter', sans-serif;
}


/* Logo */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

/* Busca */
.search-container {
  display: flex;
  align-items: center;
  background-color: #1a1f2e;
  border: 1px solid #2d3446;
  border-radius: 8px;
  padding: 15px 15px;
  width: 40%; /* Ajuste conforme necessário */
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 10px;
  width: 100%;
}

/* Ações */
.nav-actions {
  display: flex;
  gap: 25px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: #8a8f9d;
  cursor: pointer;
  transition: color 0.2s;
}

.nav-item svg {
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.nav-item:hover {
  color: white;
}

/* Badge do Carrinho */
.cart-item {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: 5px;
  background-color: #3b82f6; /* Azul do badge */
  color: white;
  font-size: 0.65rem;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}



.featured-card{
  position: relative;
  max-width: 1180px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.2);
}

.featured-img{
    width: 100%;
    height: 290px;
    display: block;
    object-fit: cover;
}

.featured-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 41%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 40px;

  background: linear-gradient(
    90deg,
    rgba(10,15,35,0.95) 0%,
    rgba(10,15,35,0.7) 40%,
    rgba(10,15,35,0) 100%
  );

  color: white;
}

.featured-label{
  font-size: 14px;
  opacity: 0.7;
}

.featured-title{
  font-size: 24px;
  margin: 10px 0;
}

.featured-info{
  display: flex;
  align-items: center;
  gap: 15px;
}

.price{
  font-size: 24px;
  font-weight: bold;
}

.details-btn{
  background: #4a6cf7;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.details-btn:hover{
  background: #3651d4;
}


